/* ================= Floating Hero Image ================= */

@keyframes float{

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0);
    }

}

.hero-image img{
    animation: float 4s ease-in-out infinite;
}
/* ================= Hero Text ================= */

@keyframes fadeInUp{

    from{
        opacity: 0;
        transform: translateY(40px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }

}

.hero-content{
    animation: fadeInUp 1s ease;
}

/* ================= Scroll Animation ================= */

.hidden{
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease;
}

.show{
    opacity: 1;
    transform: translateY(0);
}