/* ================= Tablet ================= */

@media (max-width: 992px){
     .league-container,
.team-container,
.match-container,
.stats-container{
    gap: 20px;
}
.gallery-container{
    grid-template-columns: repeat(2, 1fr);
}
}

/* ================= Mobile ================= */

@media (max-width: 768px){
#hero{
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 50px 20px;
}
.hero-content,
.hero-image{
    width: 100%;
}
.hero-content h1{
    font-size: 36px;
}
.hero-image{
    margin-top: 40px;
}
.hero-image img{
    max-width: 100%;
    height: auto;
}
.league-card,
.team-card,
.match-card,
.stat-card{
    width: 100%;
    max-width: 400px;
}
.league-container,
.team-container,
.match-container,
.stats-container{
    justify-content: center;
}
#top-leagues,
#featured-teams,
#live-matches,
#player-spotlight,
#statistics,
#gallery{
    padding: 60px 20px;
}
#top-leagues h2,
#featured-teams h2,
#live-matches h2,
#player-spotlight h2,
#statistics h2,
#gallery h2{
    font-size: 32px;
}
.player-card{
    flex-direction: column;
    text-align: center;
}
.player-card img{
    width: 220px;
    max-width: 100%;
}
.player-info h3{
    font-size: 28px;
}
.player-info p{
    font-size: 16px;
}
.player-info button{
    padding: 10px 20px;
}
.gallery-container{
    grid-template-columns: 1fr;
}
.gallery-container img{
    height: 220px;
}
 nav{
        padding: 20px;
        flex-direction: column;
        gap: 20px;
    }

    nav ul{
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul a{
        padding: 6px 8px;
        font-size: 14px;
    }
    @media (max-width: 768px){

    nav{
        flex-direction: row;
        position: relative;
    }

    .menu-btn{
        display: block;
    }

    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 10px;
    }

    nav ul.active{
        display: flex;
    }

}
}

/* =========================
   PLAYERS RESPONSIVE
========================= */

@media (max-width: 1000px) {

    #players-container {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 750px) {

    #players-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .players-title {
        font-size: 34px;
    }

}

@media (max-width: 500px) {

    #players-container {
        grid-template-columns: 1fr;
    }

    .players-title {
        font-size: 28px;
    }

    .player-card {
        padding: 20px;
    }

}
/* =========================
   LEAGUES RESPONSIVE
========================= */

@media (max-width: 900px) {

    #leagues-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .leagues-title {
        font-size: 40px;
    }

}


@media (max-width: 600px) {

    #leagues-container {
        grid-template-columns: 1fr;
        width: 85%;
        gap: 20px;
    }

    .leagues-title {
        font-size: 34px;
        margin-top: 35px;
        margin-bottom: 40px;
    }

    .league-card {
        min-height: 170px;
    }

    .league-card h2 {
        font-size: 24px;
    }

}
/* =========================
   MATCHES RESPONSIVE
========================= */

@media (max-width: 700px) {

    .matches-title {
        font-size: 38px;
        margin-top: 40px;
    }

    #matches-container {
        width: 92%;
    }

    .match-card {
        padding: 22px 15px;
    }

    .match-teams {
        gap: 10px;
    }

    .match-team img {
        width: 50px;
        height: 50px;
    }

    .match-team h3 {
        font-size: 15px;
    }

    .match-team span {
        font-size: 24px;
    }

    .match-info p {
        font-size: 15px;
    }

    .match-status {
        font-size: 11px;
    }

}